<a href="https://colab.research.google.com/github/HUSILEBAI/EES-2110/blob/main/EES_2110_climate_timeseries_plots.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> EES 2110 Time Series Plots for Temperature and CO2 </font>

    Python exercise 3:
    Objective: Get familiar with time series plots.

# Step 1: Connect with your Google Drive.

We will load the necessary data from your Google Drive.

In [ ]:
#connect with your google drive
from google.colab import drive  #import the drive library
drive.mount('/content/drive')  #mount

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Step 2: Importing Libraries
Let’s start by importing the libraries needed for this session.

In [ ]:
import numpy as np               # A library for numerical calculations
import matplotlib.pyplot as plt  # For plotting
import pandas as pd              # For handling data and extracting stored variables

# Step 3: Loading Climate Data
We'll load a climate dataset from the CSV file located in your Google Drive.

In [ ]:
# Load the CSV file from your Google Drive
# Note: Change the data path below to the correct path where your CSV file is located.
df_climate = pd.read_csv('/content/drive/MyDrive/EES2110/climate_data.csv')

# Display the DataFrame to inspect its contents
df_climate

     T_column1  T_column2  CO2_column1  CO2_column2
0       1850.0     -0.418    1855.0000       285.70
1       1851.0     -0.233    1860.0000       286.30
2       1852.0     -0.229    1865.0000       287.20
3       1853.0     -0.270    1870.0000       288.20
4       1854.0     -0.292    1875.0000       289.40
..         ...        ...          ...          ...
807        NaN        NaN    2023.7083       418.51
808        NaN        NaN    2023.7917       418.82
809        NaN        NaN    2023.8750       420.46
810        NaN        NaN    2023.9583       421.86
811        NaN        NaN    2024.0417       422.80

[812 rows x 4 columns]

# Step 4: Extracting Data from the DataFrame
Now, let’s extract the columns we’ll be working with for temperature (T) and CO2 data.

In [ ]:
# Extract the T and CO2 columns from the DataFrame
# 'T_column1' and 'T_column2' represent the columns for temperature data
# 'CO2_column1' and 'CO2_column2' represent the columns for CO2 data

# Extract temperature data
T = df_climate[['T_column1', 'T_column2']].values

# Extract CO2 data
CO2 = df_climate[['CO2_column1', 'CO2_column2']].values

# Print the dimensions of the temperature data
print("The dimensions of the input temperature data are:", T.shape)
# Note: T is a NumPy array with two columns - one for years and one for temperature values

The dimensions of the input temperature data are: (812, 2)

# Step 5: Using a For Loop
Let’s read and print temperature data for a few years using a for loop.

In [ ]:
# Print data for a few years using a for loop:
print("\n year  , Temperature")
for i in range(0, 10):
    print(T[i, 0], ",", T[i, 1])
# note that the for loop is indicated by the indentation
# block, in the above case only a single line is in the loop.

# Step 6: Calculating the Mean Temperature (For Loop)
We’ll now calculate the average temperature using a for loop.

* Note: The temperature record is an anomaly from the mean, so the average should be near zero.

In [ ]:
# As another example of a for loop, calculate the mean temperature using a for loop:
N = len(T[:, 0])
Tavg = 0
count = 0  # To count valid temperature values

for i in range(0, N):
    if not np.isnan(T[i, 1]):  # Only include non-NaN values
        Tavg = Tavg + T[i, 1]
        count += 1

if count > 0:
    Tavg = Tavg / count
else:
    Tavg = np.nan  # Handle the case where there are no valid values

print("\naveraged temperature is", Tavg)
# Note that the average is basically zero, as the temperature record is an anomaly from the mean.

# Step 7: Using Numpy for the Mean
Now, let's use a Numpy function to calculate the mean temperature:

In [ ]:
# Calculate the mean using a numpy function, excluding NaNs:
Tavg_numpy = np.nanmean(T[:, 1])
print("averaged temperature calculated by numpy function is", Tavg_numpy)

## <font color="red"> Exercise: for loop: </font>
    
<font color="red"> Write a loop that sums the numbers from 1 to 2020
</font>

In [ ]:
# code here:

# Step 8: Plotting Temperature Data
Let’s plot the temperature data over time.

In [ ]:
# plot it:
# --------
import matplotlib.pyplot as plt
fig1= plt.figure(1,dpi=300)
# python array indices are in square brackets and start from zero:
plt.plot(T[:,0],T[:,1],color="b")
plt.xlabel("Year")
plt.ylabel("Temperature (C)")
plt.title("observed Temperature record");

## <font color="red"> Exercise: line plot</font>

<font color="red">
Plot the function
y
(
x
)
=
sin
⁡
(
x
)
y(x)=sin(x) for
x
=
−
π
x=−π to
π
π.

Hint: Create an x array using np.arange(-np.pi, np.pi, 0.1) and use np.sin() to compute the sine values.
plot</font>

In [ ]:
# code here:

XX

# Step 9: Using an If Statement
We’ll now use an if statement and a loop to find the warmest year in the dataset.

In [ ]:
# first a simple if statement, note again use of indentation to define end of statement:
if 2>1:
    print("yes, 2>1")
else:
    print("this will never be printed")


# find the warmest year using a combination of a loop and an if statement:
Tmax=-100
year_max=-100
# note the indentations denoting the blocks of the for loop and if statement:
for i in range(0,N):  # for loop starts here
    if T[i,1]>Tmax:   # if statement starts here
        Tmax=T[i,1]
        year_max=T[i,0] # this is the last line of both the for loop and the if statement

# note how the last element of the array may be referred to via a -1 index:
print("The first and last years are",T[0,0],T[-1,0])
print("The maximum temperature is", Tmax,", and it occured in year",year_max)

# Step 10: Plotting Two Time Series (Temperature and CO2)
We will now plot both temperature and CO2 on the same figure using two y-axes.

In [ ]:
fig, ax1 = plt.subplots()

color = 'tab:red'
ax1.set_xlabel('year')
ax1.set_ylabel('CO$_2$', color=color)
ax1.plot(CO2[:,0], CO2[:,1], color=color)
ax1.tick_params(axis='y', labelcolor=color)

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
color = 'tab:blue'
ax2.set_ylabel('Temperature', color=color)  # we already handled the x-label with ax1
ax2.plot(T[:,0],T[:,1], color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.show()

# <font color="red">Exercise: Plotting two time series on the same axes using 2 $y$-axes<font>

Insert a code cell below this point, and plot sine(x) and 5.cos(x) from $x=0$ to $x=2\pi$

XX insert a code cell below this point.

In [ ]:
# code:

## Getting help from chatGPT

#### (a) Provide the following instruction to chatGPT, copy paste the resulting code into a new code cell below, test the code and adjust it as needed to make it work.

write a python code to create two numpy arrays with x going from -pi to +pi and y=3*exp(-x)*cos(x). plot y as a function of x using matplotlib. save the result to a pdf file named myfigureoutput.pdf.

In [ ]:
# Code:

#### (b) Ask chatGPT to correct the following buggy code, replace the code with the corrected one and make sure it runs.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x=np.arange(-2*pi,pi,0.1)
f=cos(x)
plt.figure(1)
plt.clf()
plt.plot(x,f)
# always label axes and provide titles:
plt.xlabel('x')
plt.ylabel("f')
plt.title('f(x)=cos(3x)')
plt.show()