<a href="https://colab.research.google.com/github/HUSILEBAI/EES-2110/blob/main/EES_2110_Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> Introduction to Climate Change </font>

In [ ]:
#connect with your google drive
from google.colab import drive
drive.mount('/content/drive')

# <font color="red">  Introducing Python! and Other Prerequisites

## Exercise: Click on this text cell to open it. Add your name as a subtitle above using two hashtags (`##`), then press `Shift + Enter` to recompile the cell.

## First, import the needed libraries, introducing "name spaces":

# This is a code cell. Place the cursor in it and press `Shift + Enter` to run it.
# *Do the same for all code and markdown cells below.*

In [ ]:

import numpy as np               # A library for numerical calculations
import matplotlib.pyplot as plt  # For plotting
import pandas as pd              # For handling data and extracting stored variables

print('I just ran my first Google Colab notebook cell!')


# <font color="red">  String Manipulation Exercises
Welcome to your first set of Python string exercises! Below, you'll find a series of tasks that will help you get comfortable working with strings in Python. Follow the instructions, and don't forget to print your results to check your work!

## <font color="red">  Exercise: printing</font>

Set a variable:

myname='your name here'
    
print("my name is ",myname)
</font>

In [ ]:
# Example
# myname = 'Husile Bai'
# print("My name is", myname)

In [ ]:
# insert your code below this line; note that these two lines are a comment in a
# code cell (they starts with #)

# XX

### A few more exercises
1. Concatenation of Strings:
   
   Combine your first and last names into a single string and print it.

In [ ]:
first_name = 'your first name here'  # Replace with your first name
last_name = 'your last name here'    # Replace with your last name

full_name = first_name + " " + last_name  # Concatenate the strings
print("My full name is", full_name)  # Print the result

2. String Length:

   Calculate and print the length of the string.

In [ ]:
my_string = "Hello, World!"  # Replace with your string

string_length = len(my_string)  # Calculate the length of the string
print("The length of the string is", string_length)  # Print the result

3. String Indexing:

    Access and print the first and last letters of the string.

In [ ]:
my_string = "Vanderbilt"  # Replace with your string

first_letter = my_string[0]  # Access the first letter
last_letter = my_string[-1]  # Access the last letter

print("The first letter is", first_letter)  # Print the first letter
print("The last letter is", last_letter)  # Print the last letter

4. String Slicing:
    
    Extract and print specific parts of the string using slicing.

In [ ]:
my_string = "Introduction to Climate Change"  # Replace with your string

first_word = my_string[:12]  # Extract the first word
last_word = my_string[-6:]  # Extract the last word

print("The first word is:", first_word)  # Print the first word
print("The last word is:", last_word)  # Print the last word

5. String Replacement:
    
    Replace a word in the string and print the modified version.

In [ ]:
original_string = "I love programming!"  # Replace with your string

modified_string = original_string.replace("programming", "Python")  # Replace "programming" with "Python"

print("Original string:", original_string)  # Print the original string
print("Modified string:", modified_string)  # Print the modified string

6. String Case Change:

    Change the case of the string to uppercase and lowercase, then print the results.

In [ ]:
my_string = "Climate Change is Important"  # Replace with your string

print("Uppercase:", my_string.upper())  # Convert to uppercase
print("Lowercase:", my_string.lower())  # Convert to lowercase

## Exercise: Creating a Markdown Cell with an Equation

1. **Add a new text cell below this point** by clicking on the "+ Text" button at the top of the notebook or by hovering below this cell and selecting "+ Text" when it appears.

2. **Insert a title using hashtag(s)** (e.g., `## Equation Example`).

3. **Insert an equation** using LaTeX syntax, for example: `$$E=mc^2$$`.

  $$E=mc^2$$

4. **Change the color of the equation to blue** and **everything else to green** using HTML tags:

   ```html
   <font color="green">## Equation Example</font>

   <font color="blue">$$E=mc^2$$</font>



---

```markdown
XX insert new markdown cell below this point.

## Practice Common Mathematical Equations

Here are some common equations formatted using LaTeX:

1. **Pythagorean Theorem:**

   

2. **Area of a Circle:**



3. **Newton's Second Law:**

## Basic Equations for Climate Change

Here are some fundamental equations that are relevant to understanding climate change:

1. **Stefan-Boltzmann Law** (relates the energy radiated by a black body to its temperature):
   $$E = \sigma T^4$$
   where:
   - \( E \) is the radiated energy per unit area,
   - \( \sigma \) is the Stefan-Boltzmann constant,
   - \( T \) is the absolute temperature of the black body.

2. **Energy Balance Equation** (simplified):
   $$ \text{Incoming Solar Radiation} = \text{Outgoing Terrestrial Radiation} $$
   or
   $$ \frac{S(1 - \alpha)}{4} = \sigma T^4 $$
   where:
   - \( S \) is the solar constant,
   - \( \alpha \) is the Earth's albedo,
   - \( \sigma \) is the Stefan-Boltzmann constant,
   - \( T \) is the effective temperature of Earth.


These equations provide a foundation for understanding the physical processes that drive Earth's climate system.

## A for loop: reading a time series data and printing the data values

In [ ]:

# Load the padded data from the CSV file
df_climate = pd.read_csv('/content/drive/MyDrive/EES2110/climate_data.csv')

# df_climate

In [ ]:
# Extract the T and CO2 columns from the DataFrame
T = df_climate[['T_column1', 'T_column2']].values
CO2 = df_climate[['CO2_column1', 'CO2_column2']].values

print("The dimensions of the input temperature data are:", T.shape)
# note that T is an array with two columns, one for years and one for temperature

The dimensions of the input temperature data are: (812, 2)

In [ ]:
# Print data for a few years using a for loop:
print("\n year  , Temperature")
for i in range(0, 10):
    print(T[i, 0], ",", T[i, 1])
# note that the for loop is indicated by the indentation
# block, in the above case only a single line is in the loop.

In [ ]:
# As another example of a for loop, calculate the mean temperature using a for loop:
N = len(T[:, 0])
Tavg = 0
count = 0  # To count valid temperature values

for i in range(0, N):
    if not np.isnan(T[i, 1]):  # Only include non-NaN values
        Tavg = Tavg + T[i, 1]
        count += 1

if count > 0:
    Tavg = Tavg / count
else:
    Tavg = np.nan  # Handle the case where there are no valid values

   print("\naveraged temperature is", Tavg)
# Note that the average is basically zero, as the temperature record is an anomaly from the mean.

In [ ]:
# Calculate the mean using a numpy function, excluding NaNs:
Tavg_numpy = np.nanmean(T[:, 1])
print("averaged temperature calculated by numpy function is", Tavg_numpy)

## <font color="red"> Exercise: for loop: </font>
    
<font color="red"> Write a loop that sums the numbers from 1 to 2020
</font>

In [ ]:
# code here:

## Plot the timeseries data:

In [ ]:
# plot it:
# --------
import matplotlib.pyplot as plt
fig1= plt.figure(1,dpi=300)
# python array indices are in square brackets and start from zero:
plt.plot(T[:,0],T[:,1],color="b")
plt.xlabel("Year")
plt.ylabel("Temperature (C)")
plt.title("observed Temperature record");

## <font color="red"> Exercise: line plot</font>
 <font color="red">
     plot $y(x)=\sin(x)$ for $x=-\pi$ to $\pi$.
   Hints: create an $x$ array (vector) using x=np.arange(-1,1.1,0.1), pi is given by np.pi, sine is given by np.sin()
</font>

In [ ]:
# code here:

XX

## An if statement:

In [ ]:
# first a simple if statement, note again use of indentation to define end of statement:
if 2>1:
    print("yes, 2>1")
else:
    print("this will never be printed")


# find the warmest year using a combination of a loop and an if statement:
Tmax=-100
year_max=-100
# note the indentations denoting the blocks of the for loop and if statement:
for i in range(0,N):  # for loop starts here
    if T[i,1]>Tmax:   # if statement starts here
        Tmax=T[i,1]
        year_max=T[i,0] # this is the last line of both the for loop and the if statement

# note how the last element of the array may be referred to via a -1 index:
print("The first and last years are",T[0,0],T[-1,0])
print("The maximum temperature is", Tmax,", and it occured in year",year_max)

## Plotting two time series on the same axes using 2 $y$-axes

In [ ]:
fig, ax1 = plt.subplots()

color = 'tab:red'
ax1.set_xlabel('year')
ax1.set_ylabel('CO$_2$', color=color)
ax1.plot(CO2[:,0], CO2[:,1], color=color)
ax1.tick_params(axis='y', labelcolor=color)

ax2 = ax1.twinx()  # instantiate a second axes that shares the same x-axis
color = 'tab:blue'
ax2.set_ylabel('Temperature', color=color)  # we already handled the x-label with ax1
ax2.plot(T[:,0],T[:,1], color=color)
ax2.tick_params(axis='y', labelcolor=color)

fig.tight_layout()  # otherwise the right y-label is slightly clipped
plt.show()

# <font color="red">Exercise: Plotting two time series on the same axes using 2 $y$-axes<>/font

insert a code cell below this point, and plot sine(x) and 5cos(x) from $x=0$ to $x=2\pi$

XX insert a code cell below this point.

In [ ]:
# code:

## Getting help from chatGPT

#### (a) Provide the following instruction to chatGPT, copy paste the resulting code into a new code cell below, test the code and adjust it as needed to make it work.

write a python code to create two numpy arrays with x going from -pi to +pi and y=3*exp(-x)*cos(x). plot y as a function of x using matplotlib. save the result to a pdf file named myfigureoutput.pdf.

In [ ]:
# Code:

#### (b) Ask chatGPT to correct the following buggy code, replace the code with the corrected one and make sure it runs.

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x=np.arange(-2*pi,pi,0.1)
f=cos(x)
plt.figure(1)
plt.clf()
plt.plot(x,f)
# always label axes and provide titles:
plt.xlabel('x')
plt.ylabel("f')
plt.title('f(x)=cos(3x)')
plt.show()

## Using a built-in python function to calculate correlation

In [ ]:
# remove mean from each time series using np.mean():
# code

In [ ]:

# # Assuming T and CO2 are your temperature and CO2 data arrays, respectively

# # Remove the mean from each time series using np.nanmean() to ignore NaN values
# X = T[:, 1] - np.nanmean(T[:, 1])
# Y = CO2[:, 1] - np.nanmean(CO2[:, 1])

# # Check for NaNs and remove them from both series
# mask = ~np.isnan(X) & ~np.isnan(Y)
# X = X[mask]
# Y = Y[mask]

# # Calculate the correlation coefficient matrix
# R = np.corrcoef(X, Y)

# # Print the result
# print("Correlation calculated by np.corrcoef is:\n", R)

## <font color='red'> Exercise: writing a function and plotting</font>
    
<font color='red'>write a function that takes a time series $T_i$ and produces a smoothed version
$$ \overline{T}_i=0.25T_{i-1}+0.5T_{i}+0.25T_{i+1}$$
and then plot the two on the same axes (no need to add a second vertical axis in this case). Note that you cannot calculate the smoothed version for the first and last points, and the smoothed time series therefore has 2 less points than the original one.
</font>

In [ ]:
# insert your code here

def smooth_timeseries(d):
    d_smooth=np.zeros(len(d))
    for i in XX:
        d_smooth[i]=XX
    return d_smooth[1:(len(d)-1)] # return only the interior points

T_smooth=smooth_timeseries(XX)
time_axis=XX # take only interior points of time axis too, for plotting

# plot it:
# --------
fig1= plt.figure()
# python array indices are in square brackets and start from zero:
plt.plot(XX) # plot original time series
plt.plot(XX) # plot smoothed one
plt.xlabel(XX)
plt.ylabel(XX)
plt.title(XX);

In [ ]:
# def smooth_time_series(T):
#     """
#     Smooths the input time series using the formula:
#     T_smoothed[i] = 0.25 * T[i-1] + 0.5 * T[i] + 0.25 * T[i+1]

#     Parameters:
#         T (numpy array): The original time series.

#     Returns:
#         numpy array: The smoothed time series.
#     """
#     T_smoothed = np.zeros(len(T) - 2)  # Initialize the smoothed time series with 2 fewer points

#     for i in range(1, len(T) - 1):
#         T_smoothed[i - 1] = 0.25 * T[i - 1] + 0.5 * T[i] + 0.25 * T[i + 1]

#     return T_smoothed

# # Use the temperature data from T[:, 1]
# temperature_data = T[:, 1]

# # Get the smoothed time series
# temperature_smoothed = smooth_time_series(temperature_data)

# # Plot the original and smoothed time series
# plt.figure(figsize=(10, 6))
# plt.plot(temperature_data, label='Original Temperature Data')
# plt.plot(range(1, len(temperature_data) - 1), temperature_smoothed, label='Smoothed Temperature Data', linestyle='--')

# # Add labels and title
# plt.xlabel('Index')
# plt.ylabel('Temperature Anomaly')
# plt.title('Original vs. Smoothed Temperature Data')
# plt.legend()

# # Show the plot
# plt.grid(True)
# plt.show()

## Other python data types:

We already covered numpy arrays, other important data types are:
* lists
* dictionaries
* tuples

In [ ]:
# create a list with the two data sets combined
# an empty list:
my_data_list=[]
my_data_list.append(T)
my_data_list.append(CO2)
print("length of list is:",len(my_data_list))
print("type of first element of the list is:",type(my_data_list[0]))
print("shape of first element of the list is:",my_data_list[0].shape)
print("the [4:8,1] values from the first element of the list is:",my_data_list[0][4:8,1])

length of list is: 2
type of first element of the list is: <class 'numpy.ndarray'>
shape of first element of the list is: (812, 2)
the [4:8,1] values from the first element of the list is: [-0.292 -0.297 -0.32  -0.467]

In [ ]:
# create a dictionary with the two data sets combined
# an empty dictionary:
my_data_dict={}
my_data_dict["Temperature"]=T
my_data_dict["Carbon-dioxide"]=CO2

print("keys in dictionary are:",my_data_dict.keys())
print("the first few elements of the first data set are:",my_data_dict["Temperature"][0:5,0:2])

keys in dictionary are: dict_keys(['Temperature', 'Carbon-dioxide'])
the first few elements of the first data set are: [[ 1.850e+03 -4.180e-01]
 [ 1.851e+03 -2.330e-01]
 [ 1.852e+03 -2.290e-01]
 [ 1.853e+03 -2.700e-01]
 [ 1.854e+03 -2.920e-01]]

## <font color='red'> Exercise: creating tuples and dictionaries</font>
    
<font color='red'>create a dictionary with two lists. one is the first 7 letters of the alphabet (as strings) with the key being the string 'letters'; the other the digits from 0 to 9 (as numbers), with the key being the string 'numbers'.
    
<font color='red'>then print the keys of the dictionary
    
<font color='red'>print the 2nd-6th elements of the first list in the dictionary.
    
<font color='red'>write a code to sum the 3rd-8th elements in the second list and print the result
</font>

In [ ]:
# Code here:

# some tricky stuff

### (1) Ranges in python do not include the last element!
Note that in the last example, when we specify a range to be 0:5,0:2, the printed output is a 5X2 rather than a 6X3 as one might expect. This is part of the python specification, as demonstrated by the following loop:

In [ ]:
for i in range(2,6,1):
    print(i)

2
3
4
5

### (2) Making a copy of a python variable without getting in trouble:
An assignment like
B=A does not create a new variable B whose value is equal to that of A, but creates a pointer to A. This can lead to troube. Here are the details.

In [ ]:
# consider an arrays,
A=np.array([2,3,4])
print("A=",A)
print("now set B using B=A:")
B=A
print("A=",A,",B=",B)
print("changing B using B[1]=17:")
B[1]=17
print("changes also A:")
print("A=",A,",B=",B)

# in order to avoid this, create B using, for example:
B=A*1

A= [2 3 4]
now set B using B=A:
A= [2 3 4] ,B= [2 3 4]
changing B using B[1]=17:
changes also A:
A= [ 2 17  4] ,B= [ 2 17  4]

### <font color='red'> Exercise: using ranges and making copy of variables</font>
    
<font color='red'>(A) write a for loop that prints the numbers in the range -2 to 8<br>
    (B) duplicate the above example, replacing B=A with B=A*1 and verify that this creates an independent array that is not modified when A is.
</font>

In [ ]:
# insert your code here